{% extends 'header_footer.html' %}
{% load static %}
{% block content %}

<main>
  <!-- banner Start -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for slide in slides %}
      <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
        <img src="{{slide.img.url}}" class="d-block w-100" alt="Slide 1">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Banner -->
  <!-- offerings -->
  <section class="container my-4">
    <h1 class="text-center mb-4 section-heading">Our Offerings</h1>
    <div class="row">
      {% for offering in offerings %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{offering.img.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">{{offering.title}}</h3>
            <p class="card-text">{{offering.detail}}</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- End -->

  <!-- Testimonials -->
  <section class="container-fluid bg-light py-4 mt-5 border-top border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1 class="mb-4 section-heading">About Us</h1>
          <p class="lh-base">XtremeFit Arena is not just a fitness center; it's a destination for a better, healthier
            you. Our mission is to create a community that embraces fitness as a way of life, and we are here to guide
            you on your journey to improved health, wellness, and strength. At XtremeFit Arena, we believe that
            achieving your fitness goals should be an exciting and enjoyable experience. We provide a dynamic and
            inclusive environment where people of all fitness levels can work towards becoming the best version of
            themselves. Whether you're a seasoned fitness enthusiast or just beginning your fitness journey, we have the
            tools, expertise, and support to help you succeed. Our facility boasts a wide range of cutting-edge cardio
            and strength training equipment to cater to your fitness needs. But what truly sets us apart is the sense of
            community you'll find here. We're not just a gym; we're a close-knit family of individuals with similar
            aspirations and a shared commitment to living a healthier life. </p>
          <p><a href="{% url 'pDetail' 1 %}" class="btn btn-info text-white">Read More</a></p>
        </div>
        <div class="col-md-6 offset-1">
          <h1 class="mb-4 section-heading">Fun Events <a href="{% url 'showcase' %}" class="float-end btn btn-info text-white mt-2">View
              All</a></h1>
          <div class="gallery">
            {% for eventimg in eventimgs %}
            <a href="{{eventimg.image.url}}" data-lightbox="gallery"><img src="{{eventimg.image.url}}" width="155"
                class="img-thumbnail" alt="{{eventimg.detail}}"></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials -->

</main>

<!-- LightBox css -->
<link rel="stylesheet" type="text/css" href="{% static 'lightbox2-2.11.3/dist/css/lightbox.min.css' %}" />
<!-- LightBox Js -->
<script type="text/javascript" src="{% static 'lightbox2-2.11.3/dist/js/lightbox.min.js' %}"></script>

{% endblock %}