{% extends 'header_footer.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Reach Us</h1>
			<div class="row">
				<div class="col-md-6">
					<ul>
						<h3 style="text-align: center;">Contact</h3>
						<li>Email: xtreamefitarena@gmail.com</li>
						<li>Email: help_xtreamefitarena@gmail.com</li>
						<li>mobile: 9999988888,9856223580</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<h3 style="text-align: center;">Address</h3>
						<li>FitnessCenterAddress: A 23/5 MIG vasant vihar Delhi, near Aerodrome Square</li>
						<li>Pincode: 500085</li>
						<li>Contact number: 07282 23850</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}