{% extends 'header_footer.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Showcase</h1>
			<div class="row">
				{% for event in events %}
				<div class="col-md-4 mb-4">
					<div class="card">
					  <img src="{{event.image.url}}" class="card-img-top" alt="{{event.label}}">
					  <div class="card-body">
					    <h5 class="card-title">{{event.label}}</h5>
					    <p class="card-text">{{event.description}}</p>
					    <a href="{% url 'showcase_data' event.id %}" class="btn btn-primary">View All</a>
					  </div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}